USE [master]
GO
/****** Object:  Database [Laboratory]    Script Date: 28.03.2024 20:46:52 ******/
CREATE DATABASE [Laboratory]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Laboratory', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Laboratory.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Laboratory_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Laboratory_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Laboratory].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Laboratory]
GO
/****** Object:  Table [dbo].[Biomaterial]    Script Date: 28.03.2024 20:46:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Biomaterial](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NULL,
	[Shtrih] [nvarchar](50) NULL,
 CONSTRAINT [PK_Biomaterial] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[services]    Script Date: 28.03.2024 20:46:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[services](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [int] NULL,
	[Service] [nvarchar](255) NULL,
	[Price] [decimal](18, 2) NULL,
	[DateCompl] [int] NULL,
	[DopTime] [int] NULL,
 CONSTRAINT [PK_services_1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StatusServices]    Script Date: 28.03.2024 20:46:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatusServices](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[CodeServices] [int] NULL,
	[Status] [int] NULL,
	[Result] [nvarchar](50) NULL,
 CONSTRAINT [PK_StatusServices] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 28.03.2024 20:46:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NULL,
	[login] [nvarchar](255) NULL,
	[password] [nvarchar](255) NULL,
	[ip] [nvarchar](255) NULL,
	[lastenter] [datetime] NULL,
	[services] [int] NULL,
	[type] [int] NULL,
	[TryEnter] [nvarchar](50) NULL,
 CONSTRAINT [PK_users] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Администратор]    Script Date: 28.03.2024 20:46:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Администратор](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Логин] [nvarchar](50) NULL,
	[Пароль] [nvarchar](50) NULL,
 CONSTRAINT [PK_Администратор] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Данные_о_работе_анализатора]    Script Date: 28.03.2024 20:46:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Данные_о_работе_анализатора](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Дата_поступления] [date] NULL,
	[Дата_выполнения] [date] NULL,
	[Время_выполнения] [int] NULL,
 CONSTRAINT [PK_Данные_о_работе_анализатора] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Данные_о_страховых_компаниях]    Script Date: 28.03.2024 20:46:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Данные_о_страховых_компаниях](
	[ID_страховой_компании] [int] IDENTITY(1,1) NOT NULL,
	[Название_страховой_компании] [nvarchar](50) NULL,
	[Адрес] [nvarchar](50) NULL,
	[ИНН] [nvarchar](10) NULL,
	[Р/С] [nvarchar](50) NULL,
	[БИК] [nvarchar](50) NULL,
 CONSTRAINT [PK_Данные_о_страховых_компаниях] PRIMARY KEY CLUSTERED 
(
	[ID_страховой_компании] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Данные_пациентов]    Script Date: 28.03.2024 20:46:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Данные_пациентов](
	[Id_пациента] [int] IDENTITY(1,1) NOT NULL,
	[ФИО] [nvarchar](150) NULL,
	[Дата_рождения] [date] NULL,
	[Серия_паспорта] [nvarchar](4) NULL,
	[Номер_паспорта] [nvarchar](6) NULL,
	[Номер_телефона] [nvarchar](50) NULL,
	[Номер_страхового_полиса] [nvarchar](16) NULL,
	[Тип_страхового_полиса] [int] NULL,
	[Страховая_компания] [int] NULL,
	[Электронная_почта] [nvarchar](50) NULL,
	[Логин] [nvarchar](50) NULL,
	[Пароль] [nvarchar](50) NULL,
 CONSTRAINT [PK_Данные_пациентов] PRIMARY KEY CLUSTERED 
(
	[Id_пациента] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Заказ]    Script Date: 28.03.2024 20:46:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Заказ](
	[ID_заказа] [int] IDENTITY(1,1) NOT NULL,
	[Дата_создания] [date] NULL,
	[Заказ_который_входит_в_услуги] [nvarchar](50) NULL,
	[Статус_заказа] [int] NULL,
	[Статус_услуги_в_заказе] [int] NULL,
	[Время_выполнения_заказа] [nvarchar](50) NULL,
	[КодБиоматериала] [int] NULL,
 CONSTRAINT [PK_Заказ] PRIMARY KEY CLUSTERED 
(
	[ID_заказа] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Оказание_услуг]    Script Date: 28.03.2024 20:46:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Оказание_услуг](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Услуга] [int] NULL,
	[Эксперт] [nvarchar](50) NULL,
	[Дата] [date] NULL,
	[Прибор] [int] NULL,
 CONSTRAINT [PK_Оказание_услуг] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Приборы]    Script Date: 28.03.2024 20:46:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Приборы](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Наименование] [nvarchar](50) NULL,
 CONSTRAINT [PK_Приборы] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Статус_Заказа]    Script Date: 28.03.2024 20:46:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Статус_Заказа](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Наименование] [nvarchar](50) NULL,
 CONSTRAINT [PK_Статус_Заказа] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Статус_Услуги]    Script Date: 28.03.2024 20:46:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Статус_Услуги](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Наименование] [nvarchar](50) NULL,
 CONSTRAINT [PK_Статус_Услуги] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Тип_пользователя]    Script Date: 28.03.2024 20:46:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Тип_пользователя](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Наименование] [nvarchar](50) NULL,
 CONSTRAINT [PK_Тип_пользователя] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ТипСтрахового]    Script Date: 28.03.2024 20:46:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ТипСтрахового](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Наименование] [nvarchar](50) NULL,
 CONSTRAINT [PK_ТипСтрахового] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Услуги_лаборатории]    Script Date: 28.03.2024 20:46:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Услуги_лаборатории](
	[Id_Услуг_Лаборатории] [int] NOT NULL,
	[Наименование] [nvarchar](50) NULL,
	[Стоимость] [decimal](18, 2) NULL,
	[Код_услуги] [int] NULL,
	[Срок_выполнения] [date] NULL,
	[Среднее_отклонение] [nvarchar](50) NULL,
 CONSTRAINT [PK_Услуги_лаборатории] PRIMARY KEY CLUSTERED 
(
	[Id_Услуг_Лаборатории] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Услуги_Пользова]    Script Date: 28.03.2024 20:46:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Услуги_Пользова](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_users] [int] NULL,
	[id_services] [int] NULL,
 CONSTRAINT [PK_Услуги_Пользова] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Данные_пациентов]  WITH CHECK ADD  CONSTRAINT [FK_Данные_пациентов_Данные_о_страховых_компаниях] FOREIGN KEY([Страховая_компания])
REFERENCES [dbo].[Данные_о_страховых_компаниях] ([ID_страховой_компании])
GO
ALTER TABLE [dbo].[Данные_пациентов] CHECK CONSTRAINT [FK_Данные_пациентов_Данные_о_страховых_компаниях]
GO
ALTER TABLE [dbo].[Заказ]  WITH CHECK ADD  CONSTRAINT [FK_Заказ_Статус_Заказа] FOREIGN KEY([Статус_заказа])
REFERENCES [dbo].[Статус_Заказа] ([id])
GO
ALTER TABLE [dbo].[Заказ] CHECK CONSTRAINT [FK_Заказ_Статус_Заказа]
GO
ALTER TABLE [dbo].[Заказ]  WITH CHECK ADD  CONSTRAINT [FK_Заказ_Статус_Услуги] FOREIGN KEY([Статус_услуги_в_заказе])
REFERENCES [dbo].[Статус_Услуги] ([id])
GO
ALTER TABLE [dbo].[Заказ] CHECK CONSTRAINT [FK_Заказ_Статус_Услуги]
GO
ALTER TABLE [dbo].[Оказание_услуг]  WITH CHECK ADD  CONSTRAINT [FK_Оказание_услуг_Приборы] FOREIGN KEY([Прибор])
REFERENCES [dbo].[Приборы] ([id])
GO
ALTER TABLE [dbo].[Оказание_услуг] CHECK CONSTRAINT [FK_Оказание_услуг_Приборы]
GO
ALTER TABLE [dbo].[Услуги_Пользова]  WITH CHECK ADD  CONSTRAINT [FK_Услуги_Пользова_services] FOREIGN KEY([id_services])
REFERENCES [dbo].[services] ([id])
GO
ALTER TABLE [dbo].[Услуги_Пользова] CHECK CONSTRAINT [FK_Услуги_Пользова_services]
GO
ALTER TABLE [dbo].[Услуги_Пользова]  WITH CHECK ADD  CONSTRAINT [FK_Услуги_Пользова_users] FOREIGN KEY([id_users])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[Услуги_Пользова] CHECK CONSTRAINT [FK_Услуги_Пользова_users]
GO
/****** Object:  Statistic [PK_Biomaterial]    Script Date: 28.03.2024 20:46:53 ******/
UPDATE STATISTICS [dbo].[Biomaterial]([PK_Biomaterial]) WITH STATS_STREAM = 0x01000000010000000000000000000000ED0358EE0000000040000000000000000000000000000000380300003800000004000A00000000000000000000000000, ROWCOUNT = 0, PAGECOUNT = 0
GO
/****** Object:  Statistic [PK_services_1]    Script Date: 28.03.2024 20:46:53 ******/
UPDATE STATISTICS [dbo].[services]([PK_services_1]) WITH STATS_STREAM = 0x010000000100000000000000000000009C8296A000000000C3020000000000008302000000000000380300003800000004000A0000000000000000000000000007000000B565230140B10000110000000000000011000000000000000000803FF1F0703D0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000090000000900000001000000140000000000804000008841000000000000804000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001100000000000000000000000000000017010000000000001F0100000000000048000000000000005F0000000000000076000000000000008D00000000000000A400000000000000BB00000000000000D200000000000000E9000000000000000001000000000000100014000000803F000000000000803F01000000040000100014000000803F0000803F0000803F03000000040000100014000000803F0000803F0000803F05000000040000100014000000803F0000803F0000803F07000000040000100014000000803F0000803F0000803F09000000040000100014000000803F0000803F0000803F0B000000040000100014000000803F0000803F0000803F0D000000040000100014000000803F0000803F0000803F0F000000040000100014000000803F0000803F0000803F110000000400001100000000000000, ROWCOUNT = 17, PAGECOUNT = 1
GO
/****** Object:  Statistic [PK_StatusServices]    Script Date: 28.03.2024 20:46:53 ******/
UPDATE STATISTICS [dbo].[StatusServices]([PK_StatusServices]) WITH STATS_STREAM = 0x01000000010000000000000000000000ED0358EE0000000040000000000000000000000000000000380300003800000004000A00000000000000000000000000, ROWCOUNT = 0, PAGECOUNT = 0
GO
/****** Object:  Statistic [_WA_Sys_00000003_37A5467C]    Script Date: 28.03.2024 20:46:53 ******/
CREATE STATISTICS [_WA_Sys_00000003_37A5467C] ON [dbo].[users]([login]) WITH STATS_STREAM = 0x01000000010000000000000000000000B37D497300000000B4150000000000007415000000000000E7020000E7000000FE0100000000000015D000004501000007000000AE8D4D0140B10000640000000000000064000000000000000000803F0AD7233C00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000005F0000005F000000010000001000000052B896410000C8420000000052B896410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000007F1200000000000000140000000000000814000000000000F80200000000000021030000000000004A0300000000000073030000000000009C03000000000000C703000000000000F403000000000000250400000000000050040000000000007904000000000000A004000000000000C704000000000000F60400000000000025050000000000004E050000000000007505000000000000A005000000000000C705000000000000F6050000000000001D0600000000000046060000000000006D060000000000009A06000000000000C706000000000000F2060000000000001D0700000000000040070000000000006B070000000000009407000000000000BF07000000000000EC070000000000001508000000000000400800000000000069080000000000009008000000000000BB08000000000000DE080000000000000B09000000000000320900000000000059090000000000008009000000000000B109000000000000DA090000000000000B0A000000000000360A000000000000610A000000000000820A000000000000A90A000000000000DA0A0000000000000B0B000000000000360B0000000000005F0B000000000000860B000000000000B10B000000000000D60B000000000000FB0B000000000000280C000000000000510C000000000000800C000000000000AD0C000000000000D40C000000000000FF0C0000000000002A0D000000000000510D0000000000007C0D000000000000A30D000000000000C80D000000000000F50D000000000000240E0000000000004B0E000000000000720E000000000000990E000000000000C40E000000000000ED0E000000000000160F000000000000470F000000000000720F0000000000009D0F000000000000C60F000000000000F30F0000000000001C10000000000000471000000000000070100000000000009910000000000000C410000000000000E91000000000000010110000000000003B1100000000000064110000000000008F11000000000000AE11000000000000D511000000000000FE110000000000002D120000000000005812000000000000300010000000803F000000000000803F04000001002900610062006C006900760065006E0031006100300010000000803F000000000000803F04000001002900610062006C006F00770069006E0031006500300010000000803F000000000000803F04000001002900610062006F006C00650079006E0031007500300010000000803F000000000000803F04000001002900610062007500740074006500720079006A00300010000000803F000000000000803F04000001002B00610063006F0063006B006D0061006E0032006500300010000000803F0000803F0000803F04000001002D0061006B0065006E006E0073006C006500790031006D00300010000000803F000000000000803F04000001003100610073006300610072006900730062007200690063006B006F00300010000000803F000000000000803F04000001002B006100730065006D00610069006E00650031007200300010000000803F000000000000803F040000010029006100790065006F006C0061006E0064006D00300010000000803F000000000000803F04000001002700620064006F0075006300680032003700300010000000803F000000000000803F04000001002700620066006F006C006C006F0073003400300010000000803F000000000000803F04000001002F006200700061007400740065006E00640065006E0032006400300010000000803F000000000000803F04000001002F006200720065007400630068006C0065007300730032007000300010000000803F000000000000803F04000001002900620073006100760069006E00730031003000300010000000803F000000000000803F0400000100270062007300740061006900670031006C00300010000000803F000000000000803F04000001002B006200740065007200720065006C006C0031006A00300010000000803F000000000000803F0400000100270062007400690064006D00610073003900300010000000803F000000000000803F04000001002F006300620065006E006A0065006600690065006C0064006400300010000000803F000000000000803F04000001002700630063006F0077007000650031007700300010000000803F000000000000803F0400000100290063006800610063006B0069006E0067003000300010000000803F000000000000803F0400000100270063006B0075006C006900630032006C00300010000000803F000000000000803F04000001002D0063006E006F0072007400680072006F00700031007300300010000000803F0000803F0000803F04000001002D00630072006F007800620072006F007500670068007100300010000000803F000000000000803F04000001002B0063007300700065006500640069006E0067006E00300010000000803F000000000000803F04000001002B00630073007400690063006B0069006E0073006600300010000000803F000000000000803F040000010023006400620061006E0064006900300010000000803F000000000000803F04000001002B006400620069006600690065006C00640031006B00300010000000803F000000000000803F04000001002900640063006C00610072006100670065006700300010000000803F000000000000803F04000001002B0064006D0075006300630069006E006F0032003200300010000000803F000000000000803F04000001002D0065006100620062006100740075006300630069007600300010000000803F000000000000803F040000010029006500620061007200740061006B0031006E00300010000000803F000000000000803F04000001002B00650063006F006C006C0065007400740031006900300010000000803F000000000000803F040000010029006500670069006D0065006E006F0032006100300010000000803F000000000000803F04000001002700650073006100760069006E0031007000300010000000803F000000000000803F04000001002B0066006D0063006C0065006F006900640031003800300010000000803F000000000000803F04000001002300660072006F006C0066003200300010000000803F000000000000803F04000001002D00670063006900630063006F006C006F00690032006800300010000000803F000000000000803F0400000100270067007400720075006D00700032003400300010000000803F000000000000803F0400000100270068006300610068006500790031003500300010000000803F000000000000803F04000001002700680069007A007A006100740032003900300010000000803F000000000000803F0400000100310068007300630068006F006C006600690065006C00640031007600300010000000803F000000000000803F040000010029006900630061006C006C0065006A0061007300300010000000803F000000000000803F0400000100310069006B006C00650061006E00740068006F007500730031003300300010000000803F000000000000803F04000001002B0069006C00610072006B0069006E00730031007A00300010000000803F000000000000803F04000001002B006A0061006E00730063006F007400740032003600300010000000803F000000000000803F040000010021006A006400650031003700300010000000803F000000000000803F040000010027006A006600750073007300690065006100300010000000803F000000000000803F040000010031006A006700690061006E006E006500730063006800690031006800300010000000803F000000000000803F040000010031006A006C0065006100640062006500740074006500720032003300300010000000803F000000000000803F04000001002B006A006D0063006300610077006C00650079006800300010000000803F000000000000803F040000010029006B0063006F006C006C0069006E0031007900300010000000803F000000000000803F040000010027006B006B0069006E006D0061006E006B00300010000000803F000000000000803F04000001002B006C006600720061006E0063006900650031006400300010000000803F000000000000803F040000010025006C0072006100640065006E003300300010000000803F000000000000803F040000010025006C0072006F007500780032006D00300010000000803F000000000000803F04000001002D006D0062006500690064006500620065006B0065007A00300010000000803F000000000000803F040000010029006D0065006E007400650072006C0065003500300010000000803F000000000000803F04000001002F006D00670069006C006C006F0067006C006500790032003100300010000000803F000000000000803F04000001002D006D00680061006E00730063006F006D00650032006600300010000000803F000000000000803F040000010027006D007000650061006B00650072003600300010000000803F000000000000803F04000001002B006D0072006F0062006900630068006F006E003700300010000000803F0000803F0000803F04000001002B006D0072006F00730073006F006E00690031006200300010000000803F0000803F0000803F040000010027006D007400680075007200620079007000300010000000803F000000000000803F04000001002B006E0062006F0075006E0074006900660066006300300010000000803F000000000000803F040000010027006E00620072006F007300630068007400300010000000803F000000000000803F040000010025006E006D00610062006C0079003100300010000000803F000000000000803F04000001002D006E006D0065006700610069006E006500790031003900300010000000803F000000000000803F04000001002F006E0072006500640069006E00670074006F006E0031006300300010000000803F000000000000803F040000010027006E00740072006F007500700032006300300010000000803F000000000000803F040000010027006F0063006F007200620079006E006500300010000000803F000000000000803F04000001002700700065006C0073006F006D0031007100300010000000803F000000000000803F04000001002B0070006D00630063006F0074007400650072007200300010000000803F000000000000803F04000001002900720065006100730073006F006E0031007400300010000000803F000000000000803F0400000100290072006A00650072007A0061006B0032007100300010000000803F000000000000803F0400000100310072006B00690074006300680065006E0073006900640065007800300010000000803F000000000000803F04000001002B0072006C0065006500730074007500740032003500300010000000803F000000000000803F04000001002B007200770065007300740061006C006C0032006B00300010000000803F000000000000803F04000001002900730061006C006C0073006500700070007500300010000000803F000000000000803F04000001002D00730061006E0074006F006E0061006300630069006200300010000000803F000000000000803F0400000100290073006200690072006E006500790031003200300010000000803F000000000000803F04000001002B00730065006C006C0067006F006F00640032006F00300010000000803F0000803F0000803F0400000100290073006700610072006E00680061006D007700300010000000803F000000000000803F04000001002900730067007200610066006F006D0031006700300010000000803F000000000000803F04000001002B0073006C00650062006C0061006E00630032006700300010000000803F000000000000803F040000010025007300720069006200790031003100300010000000803F000000000000803F04000001002700730072006F0062006B0065006E003800300010000000803F000000000000803F04000001002B0073007300610079006200750072006E0032006900300010000000803F000000000000803F04000001002900730073006B00650070007000650072006C00300010000000803F000000000000803F04000001002B0074007200750073006C0069006E00670031003600300010000000803F000000000000803F04000001001F007500640069007900300010000000803F000000000000803F04000001002700760062006F006F007400730032007200300010000000803F000000000000803F04000001002900760067006F0072006F006E00690031006600300010000000803F000000000000803F04000001002F007600770069006C006C007300680069007200650031006F00300010000000803F000000000000803F04000001002B007700670065006E00740069007200790032006A00300010000000803F000000000000803F0400000100270077006C006F0075006E00640032003000FF01000000000000000F0000000F0000002800000028000000000000000000000081000000610062006C006900760065006E003100610073006300610072006900730062007200690063006B006F00620073006100760069006E0073003100300063006800610063006B0069006E00670030006400620061006E00640069006500670069006D0065006E006F0032006100680063006100680065007900310035006A0064006500310037006C006600720061006E00630069006500310064006D00680061006E00730063006F006D006500320066006E0062006F0075006E0074006900660066006300700065006C0073006F006D00310071007200770065007300740061006C006C0032006B00730067007200610066006F006D00310067007500640069007900110000004000000000C0010000008108010000010C090000810915000081091E0000810627000081092D0000810836000081053E0000810A430000810B4D0000810A5800008108620000810A6A0000810974000001047D0000006400000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000004_37A5467C]    Script Date: 28.03.2024 20:46:53 ******/
CREATE STATISTICS [_WA_Sys_00000004_37A5467C] ON [dbo].[users]([password]) WITH STATS_STREAM = 0x010000000100000000000000000000004DF47DE80000000093150000000000005315000000000000E7024804E7000000FE0100000000000015D000003804200007000000AD8D4D0140B10000640000000000000064000000000000000000803F0AD7233C00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000005F0000005F000000010000001000000014AE93410000C8420000000014AE93410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000005712000000000000DF13000000000000E713000000000000F8020000000000001D0300000000000042030000000000006D030000000000009A03000000000000BF03000000000000E4030000000000001304000000000000400400000000000065040000000000008A04000000000000B704000000000000E2040000000000000F05000000000000380500000000000063050000000000008C05000000000000B505000000000000DA05000000000000050600000000000030060000000000005F060000000000008206000000000000A706000000000000CE06000000000000FD0600000000000024070000000000004B070000000000007A07000000000000A507000000000000CE07000000000000F3070000000000001A0800000000000045080000000000006C080000000000009B08000000000000C808000000000000EF0800000000000012090000000000003F090000000000006C090000000000009B09000000000000C209000000000000EB09000000000000120A000000000000370A0000000000005A0A000000000000810A000000000000B00A000000000000D50A000000000000FA0A000000000000230B0000000000004E0B0000000000007B0B000000000000A80B000000000000D70B000000000000FC0B000000000000250C0000000000004E0C0000000000007D0C000000000000A20C000000000000CF0C000000000000FA0C000000000000290D000000000000500D000000000000790D000000000000A80D000000000000D70D000000000000060E0000000000002D0E0000000000005C0E000000000000870E000000000000B40E000000000000D70E000000000000060F000000000000290F000000000000520F000000000000810F000000000000A60F000000000000C90F000000000000F60F0000000000002510000000000000501000000000000075100000000000009810000000000000C310000000000000F0100000000000001B11000000000000441100000000000067110000000000009211000000000000B911000000000000E41100000000000009120000000000003012000000000000300010000000803F000000000000803F040000010025003000500052006F006D0036006900300010000000803F000000000000803F0400000100250030005400630035006F0052006300300010000000803F000000000000803F04000001002B003100680054004D003700450056004B0061005300300010000000803F000000000000803F04000001002D00310050006200730033004B0036007100580059004200300010000000803F000000000000803F04000001002500330064006F0035004D004D004500300010000000803F000000000000803F040000010025003300480030004700530037006100300010000000803F000000000000803F04000001002F0033004A0030006A00670067003900520057006C0058007300300010000000803F000000000000803F04000001002D003300710032006D0051006400440052006D0074007200300010000000803F000040400000803F04000001002500350059006400700032006D007A00300010000000803F000000000000803F040000010025003600370043005600560079006D00300010000000803F000000000000803F04000001002D0036005800580059003700490053003200360043006900300010000000803F000000000000803F04000001002B003700510070004300770061006300300079006900300010000000803F000000000000803F04000001002D00390038006300430078004800650065004B0033003100300010000000803F000000000000803F04000001002900610032004700340049006800680032006F00300010000000803F000000000000803F04000001002B00610062006F006C00390064005900430038006500300010000000803F000000000000803F0400000100290061006500440076005A006B0038006F003900300010000000803F000000000000803F040000010029006100510079006700560074004D006A004E00300010000000803F000000000000803F04000001002500610078006E004A00590039007300300010000000803F000000000000803F04000001002B00420039007A00720030004E00370063004A007700300010000000803F000000000000803F04000001002B006200470031005A0049007A00770049006F005500300010000000803F000000000000803F04000001002F00620067004A0066005300440045005600450051006D003600300010000000803F000000000000803F04000001002300620057007200300051005500300010000000803F000000000000803F04000001002500430062006D006A00330059006900300010000000803F000000000000803F0400000100270063006B006D0041004A00500051005600300010000000803F000000000000803F04000001002F004300540055006400420066004A0073007900360071004600300010000000803F000000000000803F040000010027004400430062004F006200310053005800300010000000803F000000000000803F040000010027004400450046004E007000480074005500300010000000803F000000000000803F04000001002F006400480071007500370038006300550036004E004F005000300010000000803F0000803F0000803F04000001002B0044006F0047006500480057007500410041004D00300010000000803F000000000000803F04000001002900640059004400480062004200510066004B00300010000000803F000000000000803F04000001002500450034006F006B00560067007800300010000000803F000000000000803F04000001002700450047007800580075004C0051003900300010000000803F000000000000803F04000001002B0045006A0055004800660043005500460071004600300010000000803F000000000000803F0400000100270065006D006C0036005200710062004B00300010000000803F000000000000803F04000001002F00460035005400350073007000410055003900410034004F00300010000000803F000000000000803F04000001002D006600610047007A007900570038006800450063006100300010000000803F000000000000803F04000001002700660044004B0068004B0037004F004B00300010000000803F000000000000803F0400000100230046004C004800590052004E00300010000000803F000000000000803F04000001002D0066007A00420063007600360047006200790043007000300010000000803F000000000000803F04000001002D006700350038007A004C0063006D00430059004F004E00300010000000803F000000000000803F04000001002F0047006700790067006F003200650050007300450054007300300010000000803F000000000000803F0400000100270067004B003600480073006C0038005100300010000000803F000000000000803F04000001002900670070006800370051007500720046006600300010000000803F000000000000803F040000010027006700550074004E006400730044007500300010000000803F000000000000803F0400000100250068004100700038006A006B006900300010000000803F000000000000803F04000001002300680073007700730065005700300010000000803F000000000000803F0400000100270049004F0055006B00480070004F006E00300010000000803F000000000000803F04000001002F004A0063004E0063005600440041006F00750059007A004100300010000000803F000000000000803F040000010025006A00480059004E00300076003300300010000000803F000000000000803F040000010025004B0041006B00770072006C006900300010000000803F000000000000803F040000010029004B006D004400440059006600310050007500300010000000803F000000000000803F04000001002B006C003600730059006600320039004E004C004E00300010000000803F000000000000803F04000001002D004C004500770045006A004D006C006D00450035005800300010000000803F000000000000803F04000001002D004D0064004A0052006B0048006F007200350053005000300010000000803F000000000000803F04000001002F004D00790067007100450074006A004D007400550062004300300010000000803F000000000000803F040000010025006E004C0058006A0032006C005300300010000000803F000000000000803F040000010029004E00530058006300470039006B0068006400300010000000803F000000000000803F040000010029006F0046003100680062006D004B006C005A00300010000000803F000000000000803F04000001002F006F0069006500580035007500330073005500660070004400300010000000803F000000000000803F040000010025004F0058007A004D00450043004700300010000000803F000000000000803F04000001002D006F005900410051003400550052006900680049004100300010000000803F000000000000803F04000001002B00510030005A005600320031007600650077003000300010000000803F000000000000803F04000001002F00510047003500740064007A005200700047005A004A003200300010000000803F000000000000803F040000010027005100510065007A005200420056003900300010000000803F000000000000803F0400000100290051005200590041004400620067004E006A00300010000000803F000000000000803F04000001002F007100550072003600660064005700500036004C0035004700300010000000803F000000000000803F04000001002F0072007200790077004F00510052006D0046004B0079006800300010000000803F000000000000803F04000001002F00740030006B006F0030003800350034004300700076007600300010000000803F000000000000803F0400000100270054003200650074003100550035004D00300010000000803F000000000000803F04000001002F00740051004F00730050003000650069003900540075004400300010000000803F000000000000803F04000001002B00740074004F004600620057005700470074004400300010000000803F000000000000803F04000001002D00550043004C0059004900540066007700320056006F00300010000000803F000000000000803F04000001002300550069006600640074007500300010000000803F000000000000803F04000001002F00550049007700430076005400410037004D00520053003000300010000000803F000000000000803F0400000100230075006B004D00300065003600300010000000803F000000000000803F0400000100290056006100330034004C005900710046006800300010000000803F000000000000803F04000001002F00760066004B004A006B00430065006F0068004F007A005A00300010000000803F000000000000803F040000010025005600460053004C00630032007400300010000000803F0000803F0000803F0400000100230056006A005500720051003200300010000000803F000000000000803F04000001002D007600560078006C006600390034004B00700065005800300010000000803F000000000000803F04000001002F007700340064005A0033006800780069004300690041006700300010000000803F000000000000803F04000001002B007700670030007500490073006B00710065006900300010000000803F000000000000803F040000010025005700720061004700690068006800300010000000803F000000000000803F04000001002300770079003100480057004100300010000000803F000000000000803F04000001002B0078006100610037006D0069005100370079004200300010000000803F000000000000803F04000001002D007800420048007A007000610037006500500030007500300010000000803F000000000000803F04000001002B0078004C00670075006E0062004F00390078003600300010000000803F000000000000803F040000010029005900300075004D0079004B00420030005700300010000000803F000000000000803F04000001002300790033007400340048003100300010000000803F000000000000803F04000001002B00590063005800410068005900330050006A006100300010000000803F000000000000803F0400000100270079004600410061005900750056005700300010000000803F000000000000803F04000001002B0059007000350039005A00490044006E0057006500300010000000803F000000000000803F040000010025007A00320058003900550048003500300010000000803F000000000000803F040000010027005A004E00730061004B00640067006200300010000000803F000000000000803F040000010027007A007100330043003400720055005200FF01000000000000000F0000000F00000028000000280000000000000000000000870000003000500052006F006D00360069003300710032006D0051006400440052006D00740072003700510070004300770061006300300079006900610078006E004A005900390073004300540055006400420066004A0073007900360071004600450034006F006B00560067007800660044004B0068004B0037004F004B006700550074004E0064007300440075004B006D0044004400590066003100500075004E00530058006300470039006B00680064005100510065007A005200420056003900740074004F004600620057005700470074004400760066004B004A006B00430065006F0068004F007A005A005700720061004700690068006800590063005800410068005900330050006A0061001000000040000000008107000000810B070000810A12000081071C0000810C23000081072F0000810836000081083E0000810946000081094F00008108580000810A600000810C6A00008107760000010A7D0000006400000000000000
GO
/****** Object:  Statistic [PK_users]    Script Date: 28.03.2024 20:46:53 ******/
UPDATE STATISTICS [dbo].[users]([PK_users]) WITH STATS_STREAM = 0x010000000100000000000000000000001C9AEB3C00000000D9070000000000009907000000000000380300003800000004000A0000000000000000004501000007000000B765230140B10000640000000000000064000000000000000000803F0AD7233C000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000033000000330000000100000014000000000080400000C84200000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000002D0600000000000035060000000000009801000000000000AF01000000000000C601000000000000DD01000000000000F4010000000000000B0200000000000022020000000000003902000000000000500200000000000067020000000000007E020000000000009502000000000000AC02000000000000C302000000000000DA02000000000000F10200000000000008030000000000001F0300000000000036030000000000004D0300000000000064030000000000007B030000000000009203000000000000A903000000000000C003000000000000D703000000000000EE0300000000000005040000000000001C0400000000000033040000000000004A04000000000000610400000000000078040000000000008F04000000000000A604000000000000BD04000000000000D404000000000000EB0400000000000002050000000000001905000000000000300500000000000047050000000000005E0500000000000075050000000000008C05000000000000A305000000000000BA05000000000000D105000000000000E805000000000000FF050000000000001606000000000000100014000000803F000000000000803F01000000040000100014000000803F0000803F0000803F03000000040000100014000000803F0000803F0000803F05000000040000100014000000803F0000803F0000803F07000000040000100014000000803F0000803F0000803F09000000040000100014000000803F0000803F0000803F0B000000040000100014000000803F0000803F0000803F0D000000040000100014000000803F0000803F0000803F0F000000040000100014000000803F0000803F0000803F11000000040000100014000000803F0000803F0000803F13000000040000100014000000803F0000803F0000803F15000000040000100014000000803F0000803F0000803F17000000040000100014000000803F0000803F0000803F19000000040000100014000000803F0000803F0000803F1B000000040000100014000000803F0000803F0000803F1D000000040000100014000000803F0000803F0000803F1F000000040000100014000000803F0000803F0000803F21000000040000100014000000803F0000803F0000803F23000000040000100014000000803F0000803F0000803F25000000040000100014000000803F0000803F0000803F27000000040000100014000000803F0000803F0000803F29000000040000100014000000803F0000803F0000803F2B000000040000100014000000803F0000803F0000803F2D000000040000100014000000803F0000803F0000803F2F000000040000100014000000803F0000803F0000803F31000000040000100014000000803F0000803F0000803F33000000040000100014000000803F0000803F0000803F35000000040000100014000000803F0000803F0000803F37000000040000100014000000803F0000803F0000803F39000000040000100014000000803F0000803F0000803F3B000000040000100014000000803F0000803F0000803F3D000000040000100014000000803F0000803F0000803F3F000000040000100014000000803F0000803F0000803F41000000040000100014000000803F0000803F0000803F43000000040000100014000000803F0000803F0000803F45000000040000100014000000803F0000803F0000803F47000000040000100014000000803F0000803F0000803F49000000040000100014000000803F0000803F0000803F4B000000040000100014000000803F0000803F0000803F4D000000040000100014000000803F0000803F0000803F4F000000040000100014000000803F0000803F0000803F51000000040000100014000000803F0000803F0000803F53000000040000100014000000803F0000803F0000803F55000000040000100014000000803F0000803F0000803F57000000040000100014000000803F0000803F0000803F59000000040000100014000000803F0000803F0000803F5B000000040000100014000000803F0000803F0000803F5D000000040000100014000000803F0000803F0000803F5F000000040000100014000000803F0000803F0000803F61000000040000100014000000803F0000803F0000803F63000000040000100014000000803F000000000000803F640000000400006400000000000000, ROWCOUNT = 100, PAGECOUNT = 2
GO
/****** Object:  Statistic [_WA_Sys_00000002_398D8EEE]    Script Date: 28.03.2024 20:46:53 ******/
CREATE STATISTICS [_WA_Sys_00000002_398D8EEE] ON [dbo].[Администратор]([Логин]) WITH STATS_STREAM = 0x0100000001000000000000000000000026183D5F000000000B02000000000000CB01000000000000E7020000E7000000640000000000000015D000000000000007000000B08D4D0140B1000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000000400000803F0000000000000040000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013000000000000000000000000000000210000000000000057000000000000005F000000000000000800000000000000300010000000803F000000000000803F040000010019003100FF01000000000000000100000001000000280000002800000000000000000000000100000031000200000040000000000101000000000100000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000003_398D8EEE]    Script Date: 28.03.2024 20:46:53 ******/
CREATE STATISTICS [_WA_Sys_00000003_398D8EEE] ON [dbo].[Администратор]([Пароль]) WITH STATS_STREAM = 0x0100000001000000000000000000000033B62DC2000000000B02000000000000CB01000000000000E7020000E7000000640000000000000015D000000000000007000000B18D4D0140B1000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000000400000803F0000000000000040000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013000000000000000000000000000000210000000000000057000000000000005F000000000000000800000000000000300010000000803F000000000000803F040000010019003100FF01000000000000000100000001000000280000002800000000000000000000000100000031000200000040000000000101000000000100000000000000
GO
/****** Object:  Statistic [PK_Администратор]    Script Date: 28.03.2024 20:46:53 ******/
UPDATE STATISTICS [dbo].[Администратор]([PK_Администратор]) WITH STATS_STREAM = 0x01000000010000000000000000000000ED0358EE0000000040000000000000000000000000000000380300003800000004000A00000000000000000000000000, ROWCOUNT = 1, PAGECOUNT = 1
GO
/****** Object:  Statistic [PK_Данные_о_работе_анализатора]    Script Date: 28.03.2024 20:46:53 ******/
UPDATE STATISTICS [dbo].[Данные_о_работе_анализатора]([PK_Данные_о_работе_анализатора]) WITH STATS_STREAM = 0x01000000010000000000000000000000ED0358EE0000000040000000000000000000000000000000380300003800000004000A00000000000000000000000000, ROWCOUNT = 0, PAGECOUNT = 0
GO
/****** Object:  Statistic [PK_Данные_о_страховых_компаниях]    Script Date: 28.03.2024 20:46:53 ******/
UPDATE STATISTICS [dbo].[Данные_о_страховых_компаниях]([PK_Данные_о_страховых_компаниях]) WITH STATS_STREAM = 0x01000000010000000000000000000000ED0358EE0000000040000000000000000000000000000000380300003800000004000A00000000000000000000000000, ROWCOUNT = 0, PAGECOUNT = 0
GO
/****** Object:  Statistic [PK_Данные_пациентов]    Script Date: 28.03.2024 20:46:53 ******/
UPDATE STATISTICS [dbo].[Данные_пациентов]([PK_Данные_пациентов]) WITH STATS_STREAM = 0x01000000010000000000000000000000ED0358EE0000000040000000000000000000000000000000380300003800000004000A00000000000000000000000000, ROWCOUNT = 0, PAGECOUNT = 0
GO
/****** Object:  Statistic [PK_Заказ]    Script Date: 28.03.2024 20:46:53 ******/
UPDATE STATISTICS [dbo].[Заказ]([PK_Заказ]) WITH STATS_STREAM = 0x01000000010000000000000000000000ED0358EE0000000040000000000000000000000000000000380300003800000004000A00000000000000000000000000, ROWCOUNT = 0, PAGECOUNT = 0
GO
/****** Object:  Statistic [PK_Оказание_услуг]    Script Date: 28.03.2024 20:46:53 ******/
UPDATE STATISTICS [dbo].[Оказание_услуг]([PK_Оказание_услуг]) WITH STATS_STREAM = 0x01000000010000000000000000000000ED0358EE0000000040000000000000000000000000000000380300003800000004000A00000000000000000000000000, ROWCOUNT = 0, PAGECOUNT = 0
GO
/****** Object:  Statistic [PK_Приборы]    Script Date: 28.03.2024 20:46:53 ******/
UPDATE STATISTICS [dbo].[Приборы]([PK_Приборы]) WITH STATS_STREAM = 0x01000000010000000000000000000000ED0358EE0000000040000000000000000000000000000000380300003800000004000A00000000000000000000000000, ROWCOUNT = 0, PAGECOUNT = 0
GO
/****** Object:  Statistic [PK_Статус_Заказа]    Script Date: 28.03.2024 20:46:53 ******/
UPDATE STATISTICS [dbo].[Статус_Заказа]([PK_Статус_Заказа]) WITH STATS_STREAM = 0x01000000010000000000000000000000ED0358EE0000000040000000000000000000000000000000380300003800000004000A00000000000000000000000000, ROWCOUNT = 3, PAGECOUNT = 1
GO
/****** Object:  Statistic [PK_Статус_Услуги]    Script Date: 28.03.2024 20:46:53 ******/
UPDATE STATISTICS [dbo].[Статус_Услуги]([PK_Статус_Услуги]) WITH STATS_STREAM = 0x01000000010000000000000000000000ED0358EE0000000040000000000000000000000000000000380300003800000004000A00000000000000000000000000, ROWCOUNT = 3, PAGECOUNT = 1
GO
/****** Object:  Statistic [PK_Тип_пользователя]    Script Date: 28.03.2024 20:46:53 ******/
UPDATE STATISTICS [dbo].[Тип_пользователя]([PK_Тип_пользователя]) WITH STATS_STREAM = 0x01000000010000000000000000000000ED0358EE0000000040000000000000000000000000000000380300003800000004000A00000000000000000000000000, ROWCOUNT = 3, PAGECOUNT = 1
GO
/****** Object:  Statistic [PK_ТипСтрахового]    Script Date: 28.03.2024 20:46:53 ******/
UPDATE STATISTICS [dbo].[ТипСтрахового]([PK_ТипСтрахового]) WITH STATS_STREAM = 0x01000000010000000000000000000000ED0358EE0000000040000000000000000000000000000000380300003800000004000A00000000000000000000000000, ROWCOUNT = 0, PAGECOUNT = 0
GO
/****** Object:  Statistic [PK_Услуги_лаборатории]    Script Date: 28.03.2024 20:46:53 ******/
UPDATE STATISTICS [dbo].[Услуги_лаборатории]([PK_Услуги_лаборатории]) WITH STATS_STREAM = 0x01000000010000000000000000000000ED0358EE0000000040000000000000000000000000000000380300003800000004000A00000000000000000000000000, ROWCOUNT = 0, PAGECOUNT = 0
GO
/****** Object:  Statistic [_WA_Sys_00000002_4E88ABD4]    Script Date: 28.03.2024 20:46:53 ******/
CREATE STATISTICS [_WA_Sys_00000002_4E88ABD4] ON [dbo].[Услуги_Пользова]([id_users]) WITH STATS_STREAM = 0x0100000001000000000000000000000025B9FA01000000001E0B000000000000DE0A000000000000380200003800000004000A0000000000000000004501000007000000B665230140B1000016010000000000001601000000000000BCBBBB3E0AD7233C00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000004E0000004E00000001000000140000000000804000008B43000000000000804000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001100000000000000000000000000000072090000000000007A09000000000000700200000000000087020000000000009E02000000000000B502000000000000CC02000000000000E302000000000000FA02000000000000110300000000000028030000000000003F0300000000000056030000000000006D0300000000000084030000000000009B03000000000000B203000000000000C903000000000000E003000000000000F7030000000000000E0400000000000025040000000000003C0400000000000053040000000000006A0400000000000081040000000000009804000000000000AF04000000000000C604000000000000DD04000000000000F4040000000000000B0500000000000022050000000000003905000000000000500500000000000067050000000000007E050000000000009505000000000000AC05000000000000C305000000000000DA05000000000000F10500000000000008060000000000001F0600000000000036060000000000004D0600000000000064060000000000007B060000000000009206000000000000A906000000000000C006000000000000D706000000000000EE0600000000000005070000000000001C0700000000000033070000000000004A07000000000000610700000000000078070000000000008F07000000000000A607000000000000BD07000000000000D407000000000000EB0700000000000002080000000000001908000000000000300800000000000047080000000000005E0800000000000075080000000000008C08000000000000A308000000000000BA08000000000000D108000000000000E808000000000000FF0800000000000016090000000000002D0900000000000044090000000000005B090000000000001000140000004040000000000000803F01000000040000100014000000A040000000000000803F0200000004000010001400000000400000004000000040040000000400001000140000008040000000000000803F050000000400001000140000004040000000000000803F0600000004000010001400000080400000804000008040080000000400001000140000004040000000000000803F090000000400001000140000008040000000000000803F0A000000040000100014000000803F000000000000803F0B000000040000100014000000A040000000000000803F0C000000040000100014000000404000004040000040400E0000000400001000140000008040000000000000803F0F000000040000100014000000803F000000000000803F1000000004000010001400000000400000004000000040120000000400001000140000008040000080400000804014000000040000100014000000A040000000000000803F150000000400001000140000000040000000000000803F160000000400001000140000004040000040400000404018000000040000100014000000004000000040000000401A000000040000100014000000004000000040000000401C0000000400001000140000008040000000000000803F1D000000040000100014000000803F000000000000803F1E0000000400001000140000008040000000000000803F1F0000000400001000140000000040000000000000803F20000000040000100014000000803F000000000000803F2100000004000010001400000080400000804000008040230000000400001000140000004040000000000000803F24000000040000100014000000803F0000803F0000803F260000000400001000140000004040000000000000803F27000000040000100014000000A040000000000000803F28000000040000100014000000004000000040000000402A000000040000100014000000803F000000000000803F2B0000000400001000140000000040000000000000803F2C000000040000100014000000803F0000803F0000803F2E0000000400001000140000000040000000000000803F2F0000000400001000140000004040000000000000803F30000000040000100014000000803F000000000000803F3100000004000010001400000040400000404000004040330000000400001000140000000040000000000000803F340000000400001000140000004040000000000000803F350000000400001000140000008040000000000000803F3600000004000010001400000040400000404000004040380000000400001000140000008040000000000000803F39000000040000100014000000004000000040000000403B000000040000100014000000803F000000000000803F3C0000000400001000140000004040000000000000803F3D000000040000100014000000A040000000000000803F3E0000000400001000140000000040000000000000803F3F000000040000100014000000803F000000000000803F400000000400001000140000000040000000000000803F410000000400001000140000004040000000000000803F42000000040000100014000000A040000000000000803F430000000400001000140000008040000000000000803F440000000400001000140000004040000000000000803F450000000400001000140000000040000000000000803F46000000040000100014000000803F000000000000803F470000000400001000140000008040000000000000803F480000000400001000140000004040000000000000803F49000000040000100014000000804000008040000080404B0000000400001000140000004040000000000000803F4C000000040000100014000000803F000000000000803F4D0000000400001000140000008040000000000000803F4E000000040000100014000000803F0000803F0000803F500000000400001000140000000040000000000000803F510000000400001000140000004040000000000000803F5200000004000010001400000080400000804000008040540000000400001000140000008040000000000000803F550000000400001000140000004040000000000000803F560000000400001000140000008040000000000000803F570000000400001000140000000040000000400000004059000000040000100014000000804000008040000080405B000000040000100014000000404000004040000040405D000000040000100014000000803F000000000000803F5E0000000400001000140000000040000000000000803F5F0000000400001000140000004040000000000000803F600000000400001000140000008040000080400000804062000000040000100014000000803F000000000000803F630000000400001000140000004040000000000000803F640000000400001601000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000003_4E88ABD4]    Script Date: 28.03.2024 20:46:53 ******/
CREATE STATISTICS [_WA_Sys_00000003_4E88ABD4] ON [dbo].[Услуги_Пользова]([id_services]) WITH STATS_STREAM = 0x010000000100000000000000000000000BAA437A000000003F03000000000000FF02000000000000380200003800000004000A0000000000000000000000000007000000B565230140B10000160100000000000016010000000000000000803DF1F0703D00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000D0000000D00000001000000140000000000804000008B43000000000000804000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001100000000000000000000000000000093010000000000009B0100000000000068000000000000007F000000000000009600000000000000AD00000000000000C400000000000000DB00000000000000F2000000000000000901000000000000200100000000000037010000000000004E0100000000000065010000000000007C010000000000001000140000009041000000000000803F010000000400001000140000005041000000000000803F02000000040000100014000000A0410000A0410000A041040000000400001000140000009841000000000000803F050000000400001000140000008841000000000000803F060000000400001000140000007041000000000000803F070000000400001000140000005041000000000000803F08000000040000100014000000604100006041000060410A0000000400001000140000008041000000000000803F0B000000040000100014000000A0410000A8410000A8410D000000040000100014000000A041000000000000803F0E0000000400001000140000001041000010410000104110000000040000100014000000A041000000000000803F110000000400001601000000000000
GO
/****** Object:  Statistic [PK_Услуги_Пользова]    Script Date: 28.03.2024 20:46:53 ******/
UPDATE STATISTICS [dbo].[Услуги_Пользова]([PK_Услуги_Пользова]) WITH STATS_STREAM = 0x01000000010000000000000000000000ED0358EE0000000040000000000000000000000000000000380300003800000004000A00000000000000000000000000, ROWCOUNT = 278, PAGECOUNT = 1
GO
USE [master]
GO
